:root {
    --brown: brown;
    --tan: tan;
    --teal: teal;
    --lightteal: #75c5c5;
    --light: white;
    --dark: black;
  }

html{
    padding: 50px;
    background-color: var(--lightteal);
}

.curve{
  border-radius: 6px;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}