:root {
    --brown: rgb(85, 35, 35);
    --tan: tan;
    --teal: rgb(0, 100, 100);
    --lightteal: #8abbbb;
    --light: white;
    --dark: black;
  }

html{
    padding: 45px;
    background-color: var(--lightteal);
    font-family: 'Times New Roman', Times, serif;
}

.event-card{
  background-color: var(--teal);
  color: var(--dark);
  font-size: 15px;
}

.event-list{
  color: var(--dark);
}

.event-list:hover{
  color: var(--light);
}

.curve{
  border-radius: 6px;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}